exportClasses(MixClusData)

exportClasses(MixClusParam)
exportClasses(MixClusParam_continuous)
exportClasses(MixClusParam_integer)
exportClasses(MixClusParam_ordinal)

exportClasses(MixClusPrior_continuous)
exportClasses(MixClusPrior_integer)
exportClasses(MixClusPrior_ordinal)

exportClasses(MixClusModel_hetero)
exportClasses(MixClusModel_homo)
exportClasses(MixClusModel_indpt)

exportClasses(MixClusResults)

export(MixClusClustering)
export(MixClusUpdateForVisu)
export(MixClusVisu)

exportMethods(summary)
exportMethods(plot)

import(MCMCpack)
import(tmvtnorm)
import(mvtnorm)
import(msm)
import(plotrix)
import(methods)
importFrom(graphics,plot)
