exportClasses(MixClusparam)
exportClasses(MixClusresults)
export(MixClusanalysis)
export(MixClusvisu)
exportMethods(summary)
exportMethods(plot)
import(MCMCpack)
import(mvtnorm)
import(msm)
import(plotrix)
importFrom(graphics,plot)